/* possible palette:
#f1f1f1 - lighter
#DAD4CE - light
#2F2E32 - dark
#222125 - darker */

/* Importar fonte*/

@font-face {
    font-family: 'osaka';
    src: url(./fonts/osaka-re.ttf) format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Index - Header */

body {
    background-color: #f1f1f1;
    overflow-x: hidden;
}

header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    height: 9vh;
}

header .container {
    width: 90%;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    border-bottom: solid 2px rgb(34, 33, 37, 0.3);
    border-radius: 5px;
    box-shadow: 0 2px 6px black;
    position: fixed;
    z-index: 9;
}

/* Index - Banner */

.banner {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.card {
    display: none;
    width: 60%;
    padding: 20px;
    height: 70vh;
    top: 12vh;
    left: 100vw;
    position: relative;
    z-index: 4;
    text-overflow: clip;
    transition: 0.5s ease;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.content {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.content h3 {
    font-family: 'osaka';
    text-align: center;
    font-size: 4vh;
    color: #f1f1f1;
    text-shadow: 
    2px 2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    -2px -2px 0 black,
    2px 0px 0 black,
    0px 2px 0 black,
    -2px 0px 0 black,
    0px -2px 0 black;
}

.content p {
    font-family: 'Poppins', sans-serif;
    color: #f1f1f1  ;
    font-size: 2.2vh;
}


.content button {
    height: 5vh;
    width: 20%;
    background-color: #f1f1f1;
    border: solid 3px #222125;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.4vh;
    color: #222125;
    transition: 0.3s;
}

.content button:hover {
    background-color: #222125;
    color: #f1f1f1;
}

.banner video {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: solid 3px black;
    box-shadow: 0 0 20px black;
}

.video_wrap {
    height: 110vh;
    width: 100%;
}

.text_wrap {
    height: 30vh;
    width: 45%;
    position: absolute;
    top: 40%;
    left: 17vw;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.685);
    box-shadow: 0 0 50px 50px rgba(0, 0, 0, 0.7);
    z-index: 1;
    transition: 0.5s ease;
}

.banner h1 {
    font-family: 'osaka';
    font-size: 10vh;
    position: absolute;
    top: 40%;
    left: 20vw;
    z-index: 2;
    text-shadow: 
    1px 1px 0 white, 
    1px -1px 0 white, 
    -1px 1px 0 white, 
    -1px -1px 0 white, 
    1px 0px 0 white, 
    0px 1px 0 white, 
    -1px 0px 0 white, 
    0px -1px 0 white;
    cursor: default;
    transition: 0.5s ease;
}

.banner h1 b {
    font-size: 15vh;
    text-shadow: 
    2px 2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    -2px -2px 0 black,
    2px 0px 0 black,
    0px 2px 0 black,
    -2px 0px 0 black,
    0px -2px 0 black;
}

.banner h2 {
    color: black;
    font-size: 15vh;
    position: absolute;
    top: 45%;
    left: 60vw;
    z-index: 3;
    font-weight: bolder;
    cursor: pointer;
    text-shadow: 
    1px 1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    -1px -1px 0 white,
    1px 0px 0 white,
    0px 1px 0 white,
    -1px 0px 0 white,
    0px -1px 0 white;
    transition: 0.5s ease;
    animation: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    50% {color:  red;
        text-shadow: 
        2px 2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black,
        -2px -2px 0 black,
        2px 0px 0 black,
        0px 2px 0 black,
        -2px 0px 0 black,
        0px -2px 0 black;}
    99% {color: black;
        text-shadow: 
        1px 1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        -1px -1px 0 white,
        1px 0px 0 white,
        0px 1px 0 white,
        -1px 0px 0 white,
        0px -1px 0 white;}
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: auto;
    top: 16vh;
    z-index: 1;
    box-shadow: inset 0px -5vh 100px 20px rgba(0,0,0,0.75);
    position: fixed;
    top: 0;
    display: none;
    z-index: 10;
}

.container {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    height: 70vh;
    border-bottom: solid 2px #222125;
    border-radius: 5px;
}

.carousel_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 50vh;
}

.carousel_wrap h2 {
    font-family: 'osaka';
    font-size: 4vh;
    color: #f1f1f1;
    width: 100%;
    text-align: center;
    text-shadow:
    2px 2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    -2px -2px 0 black,
    2px 0px 0 black,
    0px 2px 0 black,
    -2px 0px 0 black,
    0px -2px 0 black;
    cursor: default;
    transition: 0.5s ease;
}

.img_car {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}    

.car {
    width: 70%;
    transition: 0.5s;
}

.car.iconic {
    opacity: 0;
    width: 0;
}

.btn_car {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'osaka';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    height: 40%;
    font-size: 3vh;
    transition: 0.3s ease;
    cursor: pointer;
    color: #f1f1f1;
    text-shadow:
    2px 2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    -2px -2px 0 black,
    2px 0px 0 black,
    0px 2px 0 black,
    -2px 0px 0 black,
    0px -2px 0 black;
}

.btn_car:hover {
    color: red;
}