/* possible palette:
#f1f1f1 - lighter
#DAD4CE - light
#2F2E32 - dark
#222125 - darker */

/* Importar fonte*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');

@font-face {
    font-family: 'osaka';
    src: url(./fonts/osaka-re.ttf) format('truetype');
}

@font-face {
    font-family: 'Antique Olive BQ';
    src: url(./fonts/Antique\ Olive\ Nord\ Italic.ttf) format('truetype');
}

/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#detach-button-host {
    display: none !important;
}

/* Index - Header/Footer */

body {
    background-color: #f1f1f1;
    overflow-x: hidden;
    width: 100vw;
}

header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    height: 9vh;
}

header .container {
    width: 90%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f1f1f1;
    border-bottom: solid 2px rgb(34, 33, 37, 0.3);
    border-radius: 5px;
    box-shadow: 0 2px 6px black;
    position: fixed;
    z-index: 9;
}

header .btn_cadastro {
    box-shadow: none;
    margin-top: 0;
}

footer {
    height: 10vh;
    width: 100%;
    background-color: #222125;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 2px black;
    border-bottom: solid 2px #222125;
}

.gifzin {
    height: 8vh;
    border-radius: 10px;
    border: solid 2px black;
    box-shadow: 2px 2px 10px 2px black;
    cursor: pointer;
}

.descFooter {
    font-family: 'Poppins';
    color: white;
    font-size: 2vh;
    margin-left: 5vw;
}

.socials {
    display: flex;
    height: 10vh;
    width: 20%;
    justify-content: space-around;
    margin-right: 5vw;
}

.wrapSocial {
    height: 10vh;
    cursor: pointer;
}

.wrapSocial:hover>.imgSocial {
    top: 1vh;
    box-shadow:
    0 0 10px 3px #fff;
}

.imgSocial{
    height: 5vh;
    position: relative;
    top: 2.5vh;
    transition: 0.3s;
}

/* Index - Banner */

.banner {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.card {
    display: none;
    width: 60%;
    padding: 20px;
    height: 70vh;
    top: 12vh;
    left: 100vw;
    position: relative;
    z-index: 4;
    text-overflow: clip;
    transition: 0.5s ease;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.content {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.content h3 {
    font-family: 'osaka';
    text-align: center;
    font-size: 4vh;
    color: #f1f1f1;
    text-shadow: 
    2px 2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    -2px -2px 0 black,
    2px 0px 0 black,
    0px 2px 0 black,
    -2px 0px 0 black,
    0px -2px 0 black;
}

.content p {
    font-family: 'Poppins', sans-serif;
    color: #f1f1f1  ;
    font-size: 2.2vh;
}


.content button {
    height: 5vh;
    width: 20%;
    background-color: #f1f1f1;
    border: solid 3px #222125;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.4vh;
    color: #222125;
    transition: 0.3s;
}

.content button:hover {
    background-color: #222125;
    color: #f1f1f1;
}

.banner video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: solid 3px black;
    box-shadow: 0 0 20px black;
}

.video_wrap {
    height: 100vh;
    width: 100%;
}

.titleClassics {
    height: 10vh;
    font-family: 'Osaka';
    font-size: 8vh;
    text-align: center;
    color: white;
    text-shadow: 
    2px 2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    -2px -2px 0 black,
    2px 0px 0 black,
    0px 2px 0 black,
    -2px 0px 0 black,
    0px -2px 0 black;
}

.text_wrap {
    height: 30vh;
    width: 45%;
    position: absolute;
    top: 40%;
    left: 17vw;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.685);
    box-shadow: 0 0 50px 50px rgba(0, 0, 0, 0.7);
    z-index: 1;
    transition: 0.5s ease;
}

.banner .tituloIndex {
    font-family: 'osaka';
    font-size: 10vh;
    position: absolute;
    top: 40%;
    left: 20vw;
    z-index: 2;
    text-shadow: 
    1px 1px 0 white, 
    1px -1px 0 white, 
    -1px 1px 0 white, 
    -1px -1px 0 white, 
    1px 0px 0 white, 
    0px 1px 0 white, 
    -1px 0px 0 white, 
    0px -1px 0 white;
    cursor: default;
    transition: 0.5s ease;
}

.banner .tituloIndex b {
    font-size: 15vh;
    text-shadow: 
    2px 2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    -2px -2px 0 black,
    2px 0px 0 black,
    0px 2px 0 black,
    -2px 0px 0 black,
    0px -2px 0 black;
}

.banner h2 {
    color: black;
    font-size: 15vh;
    position: absolute;
    top: 45%;
    left: 60vw;
    z-index: 3;
    font-weight: bolder;
    cursor: pointer;
    text-shadow: 
    1px 1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    -1px -1px 0 white,
    1px 0px 0 white,
    0px 1px 0 white,
    -1px 0px 0 white,
    0px -1px 0 white;
    transition: 0.5s ease;
    animation: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    50% {color:  red;
        text-shadow: 
        2px 2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black,
        -2px -2px 0 black,
        2px 0px 0 black,
        0px 2px 0 black,
        -2px 0px 0 black,
        0px -2px 0 black;}
    99% {color: black;
        text-shadow: 
        1px 1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        -1px -1px 0 white,
        1px 0px 0 white,
        0px 1px 0 white,
        -1px 0px 0 white,
        0px -1px 0 white;}
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: auto;
    top: 16vh;
    z-index: 1;
    box-shadow: inset 0px -5vh 100px 20px rgba(0,0,0,0.75);
    position: fixed;
    top: 0;
    display: none;
    z-index: 10;
}

.container {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    height: 70vh;
    border-bottom: solid 2px #222125;
    border-radius: 5px;
}

.carousel_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 50vh;
}

.carousel_wrap h2 {
    font-family: 'osaka';
    font-size: 4vh;
    color: #f1f1f1;
    width: 100%;
    text-align: center;
    text-shadow:
    2px 2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    -2px -2px 0 black,
    2px 0px 0 black,
    0px 2px 0 black,
    -2px 0px 0 black,
    0px -2px 0 black;
    cursor: default;
    transition: 0.5s ease;
}

.classTopSupra {
    font-family: Segoe UI; 
    color: goldenrod; 
    font-size: 10vh; 
    transform: rotate(-30deg); 
    display: none;
    transition: 0.3s ease-in;
    position: absolute;
    left: 15%;
}

.classFfRx7 {
    font-family: 'Antique Olive BQ'; 
    color: black; 
    text-shadow:
    1px 1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    -1px -1px 0 white,
    1px 0px 0 white,
    0px 1px 0 white,
    -1px 0px 0 white,
    0px -1px 0 white;    font-size: 10vh; 
    transform: rotate(-30deg); 
    display: none;
    transition: 0.3s ease-in;
    position: absolute;
    top: 198vh;
    left: 60%;
}

.classiDAE86 {
    width: 30vw;
    display: none;
    transition: 0.3s ease-in;
    position: absolute;
    top: 275vh;
    left: 15%;
}

.classtfGTR {
    font-family: 'Antique Olive BQ'; 
    color: black; 
    text-shadow:
    1px 1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    -1px -1px 0 white,
    1px 0px 0 white,
    0px 1px 0 white,
    -1px 0px 0 white,
    0px -1px 0 white;    font-size: 10vh; 
    transform: rotate(-30deg); 
    display: none;
    transition: 0.3s ease-in;
    position: absolute;
    top: 339vh;
    left: 58%;
}

.img_car {
    width: 100%;
    height: 35vh;
    margin-top: 5vh;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}    

.car {
    width: 70%;
    transition: 0.5s;
}

.car.iconic {
    opacity: 0;
    width: 0;
}

.btn_car {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'osaka';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    height: 40%;
    font-size: 3vh;
    transition: 0.3s ease;
    cursor: pointer;
    color: #f1f1f1;
    text-shadow:
    2px 2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    -2px -2px 0 black,
    2px 0px 0 black,
    0px 2px 0 black,
    -2px 0px 0 black,
    0px -2px 0 black;
}

.btn_car:hover {
    color: red;
}

.menu {
    height: 100%;
    width: 10vw;
    margin: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerContentCars {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
}


.conteudo {
    height: 100%;
    width: 100%;
    display: none;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.3s ease;
    left: 50vw;
}

.conteudoShown {
    left: 0 !important;
    opacity: 1;
}

.conteudo.esquerda {
    left: -50vw
}

.wrapVideo {
    height: 64%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo h2 {
    font-family: 'osaka';
    font-size: 4vh;
    color: #f1f1f1;
    width: 100%;
    text-align: center;
    text-shadow:
    2px 2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    -2px -2px 0 black,
    2px 0px 0 black,
    0px 2px 0 black,
    -2px 0px 0 black,
    0px -2px 0 black;
    cursor: default;
}

.conteudo span {
    height: 64%;
    width: 80%;
    font-size: 2.5vh;
    font-family: 'Poppins';
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 4vh;
    cursor: default;
}

.classMotor {
    height: 64%;
}

.ytVideo {
    box-shadow: 10px 10px 20px 5px rgb(0, 0, 0, 0.7); 
    width: 80%; 
    height: 70%;
    border-radius: 20px;
}

/* Quiz */

.questao {
    height: 42%;
    border: solid 2px black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 3%;
    font-family: 'Poppins';
    font-size: 2vh;
    background-color: #f1f1f1;
    cursor: default;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.alt {
    height: 10%;
    display: flex;
    align-items: center;
    border: solid 2px black;
    border-radius: 10px;
    padding-left: 3%;
    font-family: 'Poppins';
    font-size: 2vh;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-shadow:
    1px 1px 0 gainsboro,
    1px -1px 0 gainsboro,
    -1px 1px 0 gainsboro,
    -1px -1px 0 gainsboro,
    1px 0px 0 gainsboro,
    0px 1px 0 gainsboro,
    -1px 0px 0 gainsboro,
    0px -1px 0 gainsboro;
}

.hoov:hover {
    border-color: red;
    background-color: #d5d7db;
    box-shadow: inset 1.2px 1.2px 20px #6c6d6f, inset -1.2px -1.2px 20px #b8b5b5;
}

.correta {
    background-color: green;
    text-shadow: none;
    animation: pulseCorreta 1s linear;
}

.errada {
    color: white;
    background-color: red;
    text-shadow: none;
}

@keyframes pulseCorreta {
    20% {background-color: green;
        color: white;}
    40% {background-color: #f1f1f1;
        color: black;}
    60% {background-color: green;
        color: white;}
    80% {background-color: #f1f1f1;
        color: black;}
    99% {background-color: green;
        color: white;}
}

.bannerQuiz {
    width: 100%;
    height: 90vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-self: center;
}

.container.form {
    height: 90vh;
    justify-content: center;
}

.quiz {
    height: 70%;
    width: 60%;
    border: solid 3px black;
    border-radius: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    left: 0;
    transition: 0.6s;
    padding: 1%;
    background-color: #3C3C3C;
}

.quizHiddenRight {
    left: 60vw;
    opacity: 0;
}

.quizHiddenLeft {
    left: -60vw;
    opacity: 0;
}

.quiz h3 {
    font-size: 5vh;
    height: 10%;
    display: flex;
    font-family: 'osaka';
    color: black;
    text-shadow:
    2px 2px 0 white,
    2px -2px 0 white,
    -2px 2px 0 white,
    -2px -2px 0 white,
    2px 0px 0 white,
    0px 2px 0 white,
    -2px 0px 0 white,
    0px -2px 0 white;
}

.container.form.direction {
    display: flex;
    flex-direction: column;
    height: 70vh;
    border-bottom: none;
    background-color: #f1f1f1;
    border-radius: 20px;
    box-shadow: 10px 10px 30px black;
    transition: 0.4s;
}

.container.form.quizCont {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 70vw;
    border-bottom: none;
    background-color: #f1f1f1;
    border-radius: 20px;
    box-shadow: 10px 10px 30px black;
    transition: 0.4s;
    opacity: 0;
}

.direction h1 {
    font-size: 5vh;
    height: 20%;
    display: flex;
    font-family: 'osaka';
    color: red;
    text-shadow:
    2px 2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    -2px -2px 0 black,
    2px 0px 0 black,
    0px 2px 0 black,
    -2px 0px 0 black,
    0px -2px 0 black;
}

.direction h3 {
    font-size: 3vh;
    height: 10%;
    display: flex;
    font-family: 'osaka';
    color: white;
    text-shadow:
    2px 2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    -2px -2px 0 black,
    2px 0px 0 black,
    0px 2px 0 black,
    -2px 0px 0 black,
    0px -2px 0 black;
}

.frase {
    font-size: 3vh;
    font-family: 'osaka';
    color: white;
    text-shadow:
    2px 2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    -2px -2px 0 black,
    2px 0px 0 black,
    0px 2px 0 black,
    -2px 0px 0 black,
    0px -2px 0 black;
}

.pont {
    height: 20%;
    font-size: 6vh;
    font-family: 'osaka';
    color: red;
    text-shadow:
    2px 2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    -2px -2px 0 black,
    2px 0px 0 black,
    0px 2px 0 black,
    -2px 0px 0 black,
    0px -2px 0 black;
}

.resultClass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Cadastro */

.container.cadastro {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formbox {
    height: 80vh;
    width: 80%;
    background-color: #f1f1f1;
    border-radius: 20px;
    box-shadow: 10px 10px 30px black;
}

.formbox h2 {
    font-family: 'osaka';
    color: red;
    font-size: 4vh;
    margin-bottom: 20px;
    text-shadow:
    2px 2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    -2px -2px 0 black,
    2px 0px 0 black,
    0px 2px 0 black,
    -2px 0px 0 black,
    0px -2px 0 black;
    cursor: default;
}

.cont {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont.img img {
    width: 90%;
    cursor: pointer;
}

.cont .formulario {
    height: 90%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10vh;
}

.wrap.pair {
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
}

.wrap.pair .wrap {
    width: 50%;
}

.wrap.pair input {
    width: 90%;
}

.formbox input {
    height: 4vh;
    width: 100%;
    border: solid 1px #2f2e322b;
    border-radius: 5px;
    transition: 0.3s;
    padding-left: 10px;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.067);
}

.formbox input:focus {
    border: none;
    outline: none;
    background: #EEF0F4;
    box-shadow: inset 1.2px 1.2px 8px #D1D3D7, inset -1.2px -1.2px 8px #FFFFFF;
}

.formbox span {
    font-family: 'Roboto Flex';
    font-weight: 500;
    cursor: default;
}

.btn_cadastro {
    margin-top: 3vh;
    height: 7vh;
    width: 10vw;
    border: none;
    box-shadow:
        0 0 0 4px red inset;
    border-radius: 10px;
    background-color: transparent;
    font-family: 'Osaka';
    font-size: 3vh;
    color: black;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn_cadastro:hover {
    box-shadow:
        0 0 0 4px black inset,
        0 0 0 0px white,
        0 0 0 6px white inset;
    text-shadow:
    2px 2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    -2px -2px 0 black,
    2px 0px 0 black,
    0px 2px 0 black,
    -2px 0px 0 black,
    0px -2px 0 black;
    color: white;
    background-color: red;
}

.btn_clicked {
    box-shadow:
        0 0 0 4px black inset,
        0 0 0 0px white,
        0 0 0 6px white inset;
    text-shadow:
    2px 2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    -2px -2px 0 black,
    2px 0px 0 black,
    0px 2px 0 black,
    -2px 0px 0 black,
    0px -2px 0 black;
    color: white;
    background-color: red;
}

.btn_cadastro.btn_modal {
    width: 8vw;
    margin-top: 0;
}

/* Modal */

.modal {
    z-index: 3;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 300vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}

.contentModal {
    position: relative;
    top: 120vh;
    border-radius: 22px;
    border: 3px solid black;
    box-shadow: 0 0 5px 2px black inset;
    margin: auto;
    background-color: #f1f1f1;
    position: relative;
    padding: 0;
    outline: 0;
    width: 45vw;
    transition: 0.3s;
    font-family: 'Osaka';
    font-size: 2.5vh;
}

.contentModal .container {
    display: flex;
    height: 12vh;
    border: 0;
    justify-content: center;
}

.contentModal .modalHeader {
    display: flex;
    height: 12vh;
    border: 0;
    justify-content: center;
    font-family: 'osaka';
    font-size: 3vh;
    color: red;
    text-shadow:
    3px 3px 0 black,
    3px -3px 0 black,
    -3px 3px 0 black,
    -3px -3px 0 black,
    3px 0px 0 black,
    0px 3px 0 black,
    -3px 0px 0 black,
    0px -3px 0 black;
}

.contentModal .modalFooter {
    display: flex;
    height: 12vh;
    border-radius: 22px;
    border: 0;
    justify-content: center;
    align-items: center;
}


